


.topHalf{
    margin-left: 30%;
    margin-right: 30%;
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.chalkBoards{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
   

}

a{
    color: white;
    text-decoration: none;
 
}

nav{
    margin-left: -20px;
    overflow: hidden;
    background-color:black;
    color: white;
    position: fixed; 
    top: 0; 
    width: 100%;
    padding: 5px;
    display: flex;
    justify-content: space-evenly;
    z-index: 9999;
}

#navLink{
    color: white;
    text-decoration: none;
    border: 1px solid gray;
    border-radius: 5px;    
    padding: 2px;
}


body{
    font-family: 'Varela Round', sans-serif;
    text-align: center;
    background-image: url("../brickwoodbg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    align-content: center;
    cursor: pointer;
   
    
}   

#backdrop{
    background-color: black;
    height: 350px;
    width: 400px;
    margin: auto;
    margin-top: 20px;
    padding-top: 5px;
    border-radius: 10px;
    align-content: center;
}

#beerButton {
    font-size: 42px;
    margin-bottom: -10px;
    
  }


#phoneTag{
    margin-left: -10px;
    font-size: 20px;
    fill: white;
 
}

#breweryLink{
    margin-left:10px;
    font-size: 20px;
    fill: white;

}

ion-icon {
    margin-bottom: -5px;
}

h2{
    margin: auto;
    margin-bottom: 20px;
    margin-top: 40px;
    padding: 5px;
    background-color: rgba(236, 157, 0,0.8);
    width: fit-content;
    height: fit-content;
    border-radius: 5px;
}

#zipBox{
    height: 40px;
    width: 200px;
    border-radius: 5px;

}

li#currentBrewery{
    list-style: none;
    margin: auto;
    margin-top: 20px;
    padding: 5px;
    background-color: rgba(250, 250, 244, 0.6);
    width: fit-content;
    height: fit-content;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
}

li#creatorsFavs{
    list-style: none;
    margin: auto;
    margin-top: 20px;
    padding: 5px;
    background-color: rgba(250, 250, 244, 0.6);
    width: fit-content;
    height: fit-content;
    border-radius: 5px;
   
    bottom: 0;
}


 

#brewery{
    position: relative;
    margin: auto;
    margin-top: 20px;
    border-radius: 5px;
    border: white;
    height: 300px;
    width:300px;
    background-image: url("../stockBrewery.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.brewery1{
    position: relative;
    margin: auto;
    margin-top: 20px;
    border-radius: 5px;
    border: white;
    height: 300px;
    width:300px;
    background-image: url("../dubc.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


  #liked{
     padding-top: 3px;
      height: 300px;
      max-height: fit-content;
      width: 400px;
      margin-top: 20px;
      background-image: url("../blackboard-1906462_1920.jpg");
      background-size: cover;
      background-repeat: no-repeat;
  }

  #disliked{
    padding-top: 3px;
    height: 300px;
    max-height: fit-content;
    width: 400px;
    margin-top: 20px;
    background-image: url("../blackboard-1906462_1920.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

   
#movedBrewery{
   color:white;
   background-color: none;
   list-style: none;
   margin: 60px;
   font-family: 'Fredericka the Great';
}

#messageContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;

}
#editorsMessage{
    text-align: center
}

#creatorsFavs{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

}

@media only screen 
    and (device-width : 375px) 
    and (device-height : 812px) 
    and (-webkit-device-pixel-ratio : 3) { 

 .topHalf{
    margin-left: 21%;
    margin-right: 30%;
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
 }       
#likedColum{
    margin-left: 46%;
}

#dislikedColum{
    margin-left: 46%;
}
    

    #creatorsFavs{
        margin-left: 19%;
        margin-right: 30%;
        display: inline-flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    #editorsMessage{
        text-align: center;
        margin-right: -200px;
    }

}
